@import "tailwindcss";

@theme {
  --font-retro: var(--font-retro);
}

:root {
  background-color: #212529;
}

body {
  background-color: #212529;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.crt {
  position: relative;
}

.crt::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.2) 50%),linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 100;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

.nes-container.is-dark {
  background-color: #212529 !important;
  color: #ffffff !important;
}

.nes-balloon.is-dark {
  background-color: #212529 !important;
  color: #ffffff !important;
  border: 4px solid #ffffff !important;
}

.nes-balloon.from-left.is-dark::after {
  border-right-color: #212529 !important;
}

.nes-balloon.from-left.is-dark::before {
  border-right-color: #ffffff !important;
}

.nes-input.is-dark {
  background-color: #212529 !important;
  color: #ffffff !important;
}
 